/* 
    Filename: Main.css
    Description: defines css style for Main.html
    
*/

iframe 
{
  display: none;

}

#canvas
{
    /* Position and size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;    
    
    /* Border style */
    border-radius: 25px;
    padding: 10px 10px; 
    background: #000000;
    
}

#footer
{
    /* Position and size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:52.5%;    
    
    /* Border style */
    border-radius: 25px;
    padding: 10px 10px; 
    background: #000000;
    
}

body
{
    /* Background */
    background-image: url("../textures/BG.png");
    background-color: #101A1A;
    background-size: 40% 120%;
    background-position: center top;
    background-repeat:repeat-x; 
    
    /* Font */
    font-family: 	helvetica, arial, sans-serif ;
	font-size: 		15pt                         ;
	color: 			grey                        ;
    letter-spacing: 1px                          ;
    text-align: center;

}

/*	Link styling	*/
a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

a
{
    color: #7788FF;

}