/* 
    Filename: Main.css
    Description: defines css style for Main.html
    
*/

iframe 
{
  display: none;

}

#canvas
{
    /* Position and size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:45%;    
    
    /* Border style */
    border-radius: 25px;
    padding: 10px 10px; 
    background: #000000;
    
}

body
{
    background-image: url("../textures/awesome.png");
    background-color: #8888CC;

}